.text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .m-1 {
    margin: 1em;
  }
  
  .p-1 {
    padding: 1em;
  }
  
  .border {
    border: 1px solid #ddd;
  }
  